/*color palette: #2691d9 #f77205 #212121 #666 #a8a19a #ccc #fff*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
}

/*utilities*/
h1, h5, p{
    margin: 0
}

/* navigation bar */
.navbar {
    position: absolute;
    z-index: 4;
}

.navbar ul{
    display: flex;
    position: fixed;
    width: 100%;
    margin-top: 0px;
    background-color: #fff;
    justify-content:space-between;
    border-bottom: #e6e0e0be solid 1px;
}

.navbar ul li{
    display: inline-block;
    margin-top: 7px;
}

.navbar li a{
    display: block;
    color: #f77205;
    letter-spacing: 30px;
    font-size: 38px;
}

.navbar li a:hover{
    color: #ccc;
    transition: all 0.5s;
}

#logo{
    margin-left: -30px;
    margin-top: 5px;
}

.search input{
    margin-top: 4px;
    padding: 7px 250px;
    border-radius: 7px;
    border-color: #f77205;
    transition: all 0.5s;
}

.search input:hover{
    border-color: #666;
}

.search button{
    position: fixed;
    padding: 7px;
    margin-left: 5px;
    margin-top: 3px;
    background-color: #f77205;
    color: #fff;
    border-radius: 7px;
    border-color: #f77205;
    transition: all 0.5s;
}

.search button:hover{
    background-color: #fff;
    color: #f77205;
}

/*upper section*/
.upper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(#f77205, #f77205), url(/assets/homepage/upper4.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

.upper_text{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.upper_text h1{
    font-size: 100px;
    font-weight: normal;
    text-transform: uppercase;
}

.upper_text p{
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
}

.upper_btn{
    display: inline-block;
    background-color: #f77205;
    color: #fff;
    padding: 15px 20px;
    border-radius: 25px;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all 0.5s;
}

.upper_btn:hover{
    background-color: white;
    color: #f77205;
}

/* latest recipe's section */
.latest{
    padding: 70px 0;
}

.latest_header{
    margin-bottom: 15px;
}

.img_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f77205;
    overflow: hidden;
    border-radius: 20px;
}
.img_wrapper img{
    width: 100%;    
    max-width: 100%;
    height: auto;
    transition: all 0.5s;
    border-radius: 20px;
}

.img_wrapper:hover img{
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

.img_wrapper_text{
    padding: 30px 15px;
    max-height: 150px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    color: #212121;
}

.img_wrapper_text h5{
    color: #f77205;
    font-size: 20px;
    font-weight: bold;
}

.img_wrapper_text p{
    line-height: 25px;
}

/* Popular Recipe Section */
.popular{
    padding: 70px 0;
}

.popular h4{
    font-size: 20px;
    font-weight: normal;
}

.popular p {
    line-height: 30px;
    font-weight: 500;
}

.bg_color{
    background-color: #f77205;
}

.popular_img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.text{
    color: #fff;
}

.readmorebtn{
    display: inline-block;
    background-color: #fff;
    color: #f77205;
    padding: 10px 30px;
    border-radius: 25px;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all 0.5s;
}