/* body */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("/assets/login/login_bg5.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

/* the white-background */
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;
    height: 430px;
    background: rgb(255, 255, 255, 0.88);
    border-radius: 20px;
}

/* the heading */
.center h1{
    text-align: center;
    color: #666666;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #666666;
}

/* the form sizing */
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

/* the underline */
form .container{
    position: relative;
    border-bottom: 2px solid #666666;
    margin: 30px 0;
}

/* the form label */
.container label{
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 5px;
    color: #666666;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}

/* input settings */
.container input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/* changing the input underline's color*/
.container span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #f77205;
    transition: .3s;
}

/* changing the input label's color */
.container input:focus ~ label,
.container input:valid ~ label{
    top: -5px;
    color: #f77205;
}

/* changing the input label's font weight */
.container input:hover ~ label{
   font-weight: 700;
}

/* showing the show password icon */
.container input:valid ~ .showpsw #icon{
    display:block;
    height: 10px;
    position: absolute;
    margin-bottom: 12px;
    cursor: pointer;
}

/* to make the "show password" icon disappear */
.showpsw #icon{
    display: none;
    padding: 5px;
}

/* the login button setting */
button[type="submit"]{
    width:100%;
    height: 50px;
    border: 2px solid #666666;
    border-radius: 25px;
    background: #f77205;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

/* login button appearance when hovered */
button[type="submit"]:hover{
    border-color: #f77205;
    transition: .5s;
    font-weight: bold;
}

/* the whole checkbox settings */
.checkmark{
    position: relative;
    padding-left: 22px;
    margin-top: 10px;
    margin-bottom: 12px;
    color: #666666;
    display: block;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
}


.checkmark input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.rmb{
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #cccccc;
}

.checkmark:hover{
    font-weight: bolder;
}

.checkmark:hover input ~ .rmb {
    background-color: #666666;
}

.checkmark input:checked ~ .rmb {
    background-color: #2691d9;
}

.rmb:after {
    content: "";
    position: absolute;
    display: none;
  }

.checkmark input:checked ~ .rmb:after {
    display: block;
}

.checkmark .rmb:after {
    left: 5px;
    top: 1px;
    width: 2px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* the forgot password & sign up settings */
.link{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #666666;
}

.link a{
    color: #2691d9;
}

.link a:hover{
    font-weight: bold;
}

#psw_reset{
    margin-top: 7px;
    margin-bottom: 5px;
}